/* 
Stuff that helped me make this website (not everything is included here once again... there's so much xD)

- Of course FCC and their example Product Landing Page
- FCC community and forums :)
- FCC Responsive Web Design Certification tutorials

LaTeX & MathJax
- Just Enough \( \LaTeX \) to Survive video series by Aaron Wong, Ph.d., which is uploaded on this YouTube channel called The Math Repository.
- MathJax basic tutorial and quick reference: https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference

Using code blocks
- General tutorial: http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html
- Help on wrapping: https://mediatemple.net/blog/design-creative/considerations-for-styling-the-pre-tag/
- <code> element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code
- <pre> element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre

HTML
- <header> element (how to use it semantically): https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header
- <ul> element (how to code nested lists): https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
- <b> element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b
- <strong> element: 

CSS
- Advanced CSS selectors: https://learn.shayhowe.com/advanced-html-css/complex-selectors/
- CSS border: https://www.w3schools.com/css/css_border_shorthand.asp

Random StackOverflow questions
- CSS: Capsule shape: https://stackoverflow.com/questions/18794947/capsule-shape-using-border-radius-without-a-set-width-or-height
- CSS: Hide scrollbar when not needed: https://stackoverflow.com/questions/18716863/css-hide-scroll-bar-if-not-needed
- CSS: Overflow scroll not working: https://stackoverflow.com/questions/17295219/overflow-scroll-css-is-not-working-in-the-div
- HTML: Which characters need to be escaped & how: https://stackoverflow.com/questions/7381974/which-characters-need-to-be-escaped-in-html Also, fixing the validator error: http://terrapinssky.blogspot.com/2015/01/html5-validation-errorresolved-named.html
- HTML: Unordered lists can't be inside of paragraphs: https://stackoverflow.com/questions/7168723/unordered-list-in-a-paragraph-element
- MathJax: Can I add LaTeX packages to MathJax?: https://stackoverflow.com/questions/21192606/can-i-add-latex-packages-to-mathjax

Miscellaneous
- Google Fonts
- Google colour picker
- WebAIM contrast checker: https://webaim.org/resources/contrastchecker/
- MathJax for rendering all the LaTeX math: https://www.mathjax.org/#gettingstarted
- W3 HTML & CSS validator: https://validator.w3.org/nu/#textarea
- Codepen CSS validator

*/
