@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Ubuntu+Mono&display=swap");
/* I. Phone styles */
/* Overarching <div> styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 1.5rem;
}
body {
  width: 100%;
  background: white;
}
main {
  padding: 2em 1em;
  width: 100%;
}

/* General font styles */
h1,
h2 {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 900;
  color: hsl(113, 100%, 20%);
}
h1 {
  font-size: 2.3rem;
}
h2 {
  position: relative;
  font-size: 1.5rem;
  margin: 1.5em 0 0.3em;
}
h2::before {
  content: "";
  display: block;

  position: absolute;
  top: -0.3em;
  left: 0;
  width: 1em;
  border-radius: 999px;

  height: 0.15em;
  background: hsl(113, 50%, 80%);
}
section:first-of-type header h2 {
  margin: 0 0 0.3em;
}
h3,
p,
a,
li {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.5em 0 0.2em;
}
p,
a,
code {
  font-size: 1rem;
  color: black;
}
p,
li {
  line-height: 1.7;
}
p {
  margin-bottom: 1em;
}
p#page-description {
  line-height: unset;
  margin-bottom: unset;
}

/* Links */
a:hover {
  color: hsl(113, 50%, 40%);
}

/* Navigation bar */
div#nav-wrapper {
  background: hsl(113, 50%, 93%);
}
nav {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;

  padding: 2em 1em 1em 1em;
  height: 100%;
  max-height: 20em;
}
div#nav-link-wrapper {
  height: 100%;
  overflow-y: auto;
  background: white;
  border-radius: 0.5em;
}
a.nav-link {
  display: block;
  padding: 1em 0.7em;
  position: relative;
}
a.nav-link::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 0.1em;
  background: hsl(0, 0%, 80%);
}
a.nav-link:last-of-type::after {
  content: unset;
}
a.nav-link:hover {
  color: hsl(113, 50%, 30%);
  background: hsl(0, 0%, 95%);
}

/* Content */
/* Lists */
ul,
ol {
  margin-left: 1.5em;
}
p + ul,
p + ol {
  margin-bottom: 1em;
}
/* Inline code and code blocks */
code {
  font-family: "Ubuntu Mono", monospace;
  background: hsl(113, 0%, 95%);
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5;
}
pre {
  white-space: pre-wrap;
  background: hsl(113, 0%, 95%);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
pre.overflow-x {
  white-space: pre;
  overflow-x: auto;
}
li > pre {
  margin-top: 1em;
}
pre code {
  display: block;
  background: unset;
  padding: unset;
}
/* MathJax LaTeX rendering */
div.mathjax-rendering {
  display: block;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;

  border: 0.1em solid hsl(0, 0%, 80%);
  border-radius: 0.5em;

  font-size: 1.2rem;

  overflow-x: auto;
}
@media (max-width: 620px) {
  div.mathjax-rendering {
    font-size: 1rem;
  }
}

/* II. Tablet styles */
@media (min-width: 600px) {
  nav,
  main {
    max-width: 40em;
    margin: auto;
    padding: 3em 2em;
  }
  a.nav-link {
    padding: 1em;
  }
  h2 {
    margin: 2em 0 0.5em;
  }
}

/* III. Desktop styles */
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20em 1fr;

    height: 100vh;
  }
  div#main-wrapper {
    height: 100vh;
    overflow-y: auto;
  }
  main {
    max-width: 50em;
    padding: 4.5em 2em;
  }
  div#nav-wrapper {
    height: 100vh;
  }
  nav {
    height: 100%;
    max-height: unset;
  }
  a.nav-link::after {
    background: hsl(0, 0%, 85%);
  }
}
